{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>
            {% block title %}
                Returns Dashboard
            {% endblock title %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        
        <link href="{% static 'css/site.css' %}" rel="stylesheet">

    </head>

    <body class="Body">
        <div class="GridContainer">
            <nav class="NavBar">    
                <a class="NavBar-navLink" href="{% url 'home' %}">Home</a>
                <a class="NavBar-navLink" href="{% url 'return-reasons' %}">Return Reasons Charts</a>
                <a class="NavBar-navLink"href="{% url 'return-rate-by-category' %}">Category Return Rate</a>
                <a class="NavBar-navLink" href="{% url 'top-return-styles' %}">Top Return Styles</a>
            </nav>
            <div class="MainContent">
                {% block content %}
                {% endblock content %}
            </div>

    
        </div>
    </body>
</html>

