{% extends "base.html" %}

{% block title %}
  Returns Dashboard
{% endblock title %}


{% block content %}

{% load cache %}
{% cache 86400 cat_rr %}

  <div>
    <table class = "table-styling">
      <thead>
        <tr>
          <th>Product Category</th>
          <th>Return Rate %</th>
        </tr>
      </thead>
      <tbody>
        {% for category_rate in category_rates %}
          {%if category_rate.dashboard_title == 'Category Return Rate Table' %}
            {% for name, percentage in category_rate.cat_rr.items %}
              <tr>
                <th>{{name}}</th>
                <th>{{percentage}}%</th>
              </tr>
            {% endfor %}
          {%endif%}
        {% endfor %}
        
      </tbody>
    </table>
  </div>

{% endcache %}
{% endblock content %}
