{% extends "base.html" %}

{% block title %}
  Returns Dashboard
{% endblock title %}


{% block content %}

<!-- {% load cache %}
{% cache 86400 cat_rr %} -->

  <div>
    <table class = "CategoryTable">
      <thead>
        <tr>
          <th class="CategoryTable-Titles">Product Category</th>
          <th class="CategoryTable-Titles">Return Rate %</th>
        </tr>
      </thead>
      <tbody>
        {% for category_rate in category_rates %}
          {%if category_rate.dashboard_title == 'Category Return Rate Table' %}
            {% for name, percentage in category_rate.cat_rr.items %}
              <tr class="CategoryTable-Rows">
                <th class="CategoryTable-Content">{{name}}</th>
                <th class="CategoryTable-Content">{{percentage}}%</th>
              </tr>
            {% endfor %}
          {%endif%}
        {% endfor %}
        
      </tbody>
    </table>
  </div>

<!-- {% endcache %} -->
{% endblock content %}
