{% extends "base.html" %}
{% load cache %}


{% block title %}
  Returns Dashboard
{% endblock title %}


{% block content %}

{% cache 86400 highest_returned_styles %}
<div>
  <table class = "table-styling">
    <thead>
      <tr>
        <th>Top 10 Styles</th>
        <th>Return Rate %</th>
      </tr>
    </thead>
    <tbody>
      {% for style in top_return_styles %}
        {%if style.dashboard_title == 'Top Return Styles Table' %}
          {% for style, rr in style.highest_returned_styles.items %}
            <tr>
              <th>{{style}}</th>
              <th>{{rr}}%</th>
            </tr>
          {% endfor %}
        {%endif%}
      {% endfor %}
      
    </tbody>
  </table>
</div>

{% endcache %}


{% endblock content %}



