{% extends "base.html" %}



{% block title %}
  Returns Dashboard
{% endblock title %}


{% block content %}

<!-- {% load cache %} -->
<!-- {% cache 86400 highest_returned_styles %} -->
<div>
  <table class = "CategoryTable">
    <thead>
      <tr>
        <th class="CategoryTable-Titles">Top 10 Styles</th>
        <th class="CategoryTable-Titles">Return Rate %</th>
      </tr>
    </thead>
    <tbody>
      {% for style in top_return_styles %}
        {%if style.dashboard_title == 'Top Return Styles Table' %}
          {% for style, rr in style.highest_returned_styles.items %}
            <tr class="CategoryTable-Rows">
              <th class="CategoryTable-Content">{{style}}</th>
              <th class="CategoryTable-Content">{{rr}}%</th>
            </tr>
          {% endfor %}
        {%endif%}
      {% endfor %}
      
    </tbody>
  </table>
</div>

<!-- {% endcache %} -->


{% endblock content %}



